html {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0, 0.1);
  font-size: 1.0em;
}
body {
  margin: 0;
  height: 100%;
  font-family: monospace;
}
div.container {
  min-height: 25rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: [left] 10rem auto 10rem [right];
  grid-template-rows: 5rem auto 5rem;

  grid-template-areas:
    "head head head"
    "panleft mainbody panright"
    "foot foot foot";
}
div.header {
  background: rgb(0, 0, 0, 0);
  grid-area: head;
}
div.footer {
  background: rgb(0, 0, 0, 0);
  grid-area: foot;
}
div.panel {
  background: rgb(0, 0, 0, 0.1);
}
div.panel.left {
  grid-area: panleft;
}
div.panel.right {
  grid-area: panright;
}
div.mainbody {
  grid-area: mainbody;
  width: 30rem;
  justify-self: center;
}

@media screen and (max-width: 50rem) {
  div.panel.left {
    grid-column-end: left;
  }
  div.panel.right {
    grid-column-start: right;
  }
  div.panel {
    display: none;
  }
  div.mainbody {
    grid-column-start: left;
    grid-column-end: right;
  }
}
